body {
    font-family: "Lato", sans-serif;
    color:black;
  }

  .titre {
    background-color: rgba(0, 0, 0, 0.438);
    background-image: url(../images/Arriereplan/schoolbackground.png);
    padding: 5%;
  }

  .titre h1 {
    color:white;
    text-align: center;
    font-size: 200%;
  }

  .titre h2 {
    color:white;
    text-align: center;
    font-size: 100%;
    padding-bottom: 3%;
  }

  .titre a{
    background-color: rgba(0, 0, 0, 0.336);
    color: white;
    margin-left: 40%;
    padding: 3%;
    transition: 0.5s;
  }

  .titre a:hover{
    background-color: rgb(255, 255, 255);
    color: rgb(0, 0, 0);
    padding: 3%;
  }

  .techniques{
    padding: 1%;
    margin-top: 2%;
    background-color: rgb(211, 211, 211);
  }

  .autres{
    padding: 1%;
    margin-top: 2%;
    background-color: rgb(211, 211, 211);
  }
  .logos {
      
    display: grid;
      grid-template-columns: auto auto auto auto;
      padding: 5%;
      margin-top: 1%;
      align-items: center;
    
  }

  .java{
    background-color: rgb(117, 255, 198);
    padding: 2%;
    margin-left: 50%;   
 }

  .html{
    background-color: rgb(255, 156, 42);
    padding: 2%;
    margin-left: 50%;   
  }

  .css{
    background-color: rgb(56, 42, 255);
    padding: 3%;
    padding-left: 3%;
    margin-left: 60%;  
    align-items: center; 
  }

  .sql{
    background-color: rgb(96, 255, 81);
    padding: 2%;
    margin-left: 40%;
  }

  .grid-container {
    display: grid;
    grid-template-columns: auto auto auto;
    background-color: #008cff31;
    padding: 10px;
  }
  .grid-item {
    background-color: rgba(255, 255, 255, 0.8);
    padding: 20px;
    font-size: 30px;
    text-align: center;
  }
  
  
  .nav {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #111;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
  }
  
  .nav a {
    padding: 32px 0px 0px 0px;
    text-decoration: none;
    font-size: 20px;
    color: #818181;
    display: block;
    transition: 0.3s;
  }
  
  .nav a:hover {
    color: #f1f1f1;
  }
  
  .nav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
  }
  
  @media screen and (max-height: 450px) {
    .nav {padding-top: 15px;}
    .nav a {font-size: 18px;}
  }

  .material-icons {
      vertical-align:-14%
  }

  .nav .selected{
    color: white;
  }