body {
    font-family: "Lato", sans-serif;
    
  }

  .titre {
    background-color: rgba(0, 0, 0, 0.438);
    background-image: url(../images/Arriereplan/background.png);
    padding-top: 10%;
    padding-bottom: 10%;
  }

  .titre h1 {
    color:white;
    text-align: center;
    font-size: 200%;
  }

  .linkedin{
    text-align: center;
    transition: 0.5s;
  }

  .linkedin:hover{
    background-color: rgb(139, 160, 255);
    transition: 0.5s;
  }

  .phone{
    color: white;
    text-align: center;
  
  }

  .mail{
    color: white;
    text-align: center;
  
  }

  .addresse{
    color: white;
    text-align: center;
  
  }
  .nav {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #111;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
  }
  
  .nav a {
    padding: 32px 0px 0px 0px;
    text-decoration: none;
    font-size: 20px;
    color: #818181;
    display: block;
    transition: 0.3s;
  }
  
  .nav a:hover {
    color: #f1f1f1;
  }
  
  .nav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
  }
  
  @media screen and (max-height: 450px) {
    .nav {padding-top: 15px;}
    .nav a {font-size: 18px;}
  }

  .material-icons {
      vertical-align:-14%
  }

  .nav .selected{
      color: white;
  }