body {
    font-family: "Lato", sans-serif;
    color:black;
  }

  .titre {
    background-color: rgb(0, 0, 0);
    background-image: url(../images/Arriereplan/arriereplan.jpg);
    padding: 5%;
  }

  .titre h1 {
    color:rgb(0, 0, 0);
    text-align: center;
    font-size: 200%;
  }

 texte{
   color: rgb(0, 0, 0);
  font-style: italic;
  padding: 2px;
  text-align: center;
 }


.iut{
  display: grid;
      grid-template-columns: auto;
      padding: 5%;
}

.baggio{
  display: grid;
      grid-template-columns: auto;
      padding: 5%;
}

.julesgarnier{
  display: grid;
      grid-template-columns: auto;
      padding: 5%;
}


  .presentation {
      display: grid;
      grid-template-columns: auto auto auto;
      background-color: #d6d32fec;
      padding: 5%;
      margin-top: 1%;
    
    
  }
  
  .nav {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #111;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
  }
  
  .nav a {
    padding: 32px 0px 0px 0px;
    text-decoration: none;
    font-size: 20px;
    color: #818181;
    display: block;
    transition: 0.3s;
  }
  
  .nav a:hover {
    color: #f1f1f1;
  }
  
  .nav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
  }
  
  @media screen and (max-height: 450px) {
    .nav {padding-top: 15px;}
    .nav a {font-size: 18px;}
  }

  .material-icons {
      vertical-align:-14%
  }

  .nav .selected{
    color: white;
  }