body {
    font-family: "Lato", sans-serif;
  }
  
  .nav {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #111;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
  }
  
  .nav a {
    padding: 32px 0px 0px 0px;
    text-decoration: none;
    font-size: 20px;
    color: #818181;
    display: block;
    transition: 0.3s;
  }
  
  .nav a:hover {
    color: #f1f1f1;
  }
  
  .nav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
  }
  
  @media screen and (max-height: 450px) {
    .nav {padding-top: 15px;}
    .nav a {font-size: 18px;}
  }

  .material-icons {
      vertical-align:-14%
  }

  .nav .selected{
    color: white;
  }


.Personnels{
    background-color: none;
    color: black;
    padding-left: 10%;
    display: grid;
    grid-template-columns: 20% 20% 20%;
    grid-gap: 10%;
}
.Personnels h4{
    text-align: center;
}

.header h1{
  background-color: #111;
  color: white;
}
.h2{
  margin-left: 5%;
  margin-right: 5%;
  align-items: center;
}
.titre{
  text-align: center;
  background-image: url(../images/Arriereplan/arriereplannumerique.jpg);
  padding:5%;
  color: white;
  
}

.projets{
  text-align: center;
  align-items: center;
}

.projets h4{
  transition: 1s;
  background-color: none;
  color:black;
}

.projets img{
  transition:  1s;
}
h2 .projets img:hover {
  background-color: #111;
  color: white;
}

.projets img:hover{
  transform: scale(1.1);
}

.web:hover{
  transform: scale(1.1);
}

* {
  box-sizing: border-box;
}

.row > .column {
  padding: 0 8px;
}

.row:after {
  content: "";
  display: table;
  clear: both;
}

.column {
  float: left;
  width: 25%;
}

/* The Modal (background) */
.modal {
  display: none;
  position: fixed;
  z-index: 1;
  padding-top: 100px;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.384);
}

/* Modal Content */
.modal-content {
  position: relative;
  background-color: #fefefe;
  margin: auto;
  padding: 0;
  width: 90%;
  max-width: 800px;
}

/* The Close Button */
.close {
  color: white;
  position: absolute;
  top: 10px;
  right: 25px;
  font-size: 35px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: #999;
  text-decoration: none;
  cursor: pointer;
}

.SlidesFNIEQG {
  display: none;
}


.cursor {
  cursor: pointer;
}

/* Next & previous buttons */
.prev,
.next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  padding: 16px;
  margin-top: -50px;
  color: white;
  font-weight: bold;
  font-size: 20px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
  -webkit-user-select: none;
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover,
.next:hover {
  background-color: rgba(0, 0, 0, 0.8);
}

/* Number text (1/3 etc) */
.numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}

img {
  margin-bottom: -4px;
}

.caption-container {
  text-align: center;
  background-color: black;
  padding: 2px 16px;
  color: white;
}

.demo {
  opacity: 0.6;
}

.active,
.demo:hover {
  opacity: 1;
}

img.hover-shadow {
  transition: 0.3s;
}

.hover-shadow:hover {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.FNIEQGinfo{
  padding-left: 5%;
  padding-bottom: 5%;
}

.Platinfo{
  padding-left: 5%;
  padding-bottom: 5%;
  
}

.Briqueinfo{
  padding-left: 5%;
  padding-bottom: 5%;
}

.Webinfo{
  padding-left: 5%;
  padding-bottom: 5%;
}

.bddinfo{
  padding-left: 5%;
  padding-bottom: 5%;
}